
<link rel="stylesheet" href="css/home.css">

<section class="landing-page">
  <h1 class="display-3 text-center" >AJAYPAL SINGH </h1>
  <h2 class="display-5 text-center" >Software Engineer </h2>
	 <div class="overall">
{{!--          <p> <a class="lead" href="/about">About </a>
         	| <a class="lead" href="https://github.com/ajpaul510" target="_blank">Experience</a>
         </p> --}}
           {{!-- <a href="/about"> About Me </a>|  --}}
           <a href="https://github.com/ajpaul510" target="_blank"> Github</a>
         | <a href="https://www.linkedin.com/in/ajaypal-singh-35508025/" target="_blank"> Linkedin</a>

  </div>

</section>
