
<link rel="stylesheet" href="css/home.css">

<section class="landing-page">
  <h1 class="display-3 text-center" >AJAYPAL SINGH</h1>
  <h2 class="display-5 text-center" >Software Engineer </h2>

  	{{!-- <div class='container text-center'> --}}
	 <div class="overall">
    <p> <a class="lead" href="#">About</a> <a href="#">Experience</a> </p>


  </div>

</section>
