

<link rel="stylesheet" href="css/home.css">
<section class="landing-page">
  <h1 class="display-3 text-center" >AJAYPAL SINGH</h1>
  <h2 class="display-5 text-center" >Data Scientist </h2>

  	{{!-- <div class='container text-center'> --}}
	 <div class="overall">
    <p> <a class="lead" href="#">About</a> </p>
    <p> <a class="lead" href="#">Experience</a> </p>


  </div>
    {{!-- <p class="lead text-center">
    	<a class="text-center" href="#">Blog</a>
    </p>
    <p class="lead text-center">
    	<a class="text-center" href="#">Contact</a>
    </p> --}}
   {{!--  </div> --}}

</section>
