
body{
	background-color: black;
}

#name{
	font-family: "helvetica-neue-thin", helvetica, sans-serif;
    font-size: 1.20em;
	color: white;
	/*font-family:  Simplifica;*/
}
#icons:hover{
	opacity: 0.3;
    visibility:visible;
}
